#container {
    min-height: 400px;
    height: 600px; 
    min-width: 300px; 
    max-width: 600px; 
    margin: 0 auto; 
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

@media (max-width: 813px) {
    #container {
        width: auto;
        height: auto;
    }
}

@media (max-width: 499px) {
    #container {
        height: 400px;
    }
}