#container {
    height: 500px; 
    width: 100%; 
    margin: 0 auto;
}
    
.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}
    
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
    
.f32 .flag {
    vertical-align: middle !important;
}

@media (max-width: 813px) {
    #container {
        width: auto;
        height: auto;
    }
}

@media (max-width: 499px) {
    #container {
        height: 400px;
    }
    .highcharts-tooltip>span {
        font-size: 5px;
    }
}